<%- include("templates/header") %> 



<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Who art thou</h1>
      <p class="lead">Create your character</p>
   <br>
   <br>
   <br>
  </div>
  <!-- SPECIES -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="species.png" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">What are you</h5>
    <p>are you a large Orc, or a small dwarf? What kind of person are you and what is there culture like?</p>
    <a href="/species" class="stretched-link">List of Species</a>
  </div>
  
</div>
<br>
<!-- CLASSSES -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="classes.webp" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">What can you Do</h5>
    <p>Classes allow you to do more than a normal person. Most people cant shot fire from there hands, and most people cant cleave an ogre in two, but you can</p>
    <a href="/classes" class="stretched-link">Go somewhere</a>
  </div>
</div>
<br>
<!-- BACKGROUND -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="map.webp" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">What were you before this</h5>
    <p>Backgrounds are important to understand how your character sees the world. someone who grew up as a pirate will see the world and act differently than a former cultist</p>
    <a href="https://www.dndbeyond.com/backgrounds?filter-name=&filter-source=3&filter-source=33&filter-source=2&filter-source=13&filter-source=67&filter-source=27&filter-partnered-content=f" class="stretched-link">Backgrounds</a>
  </div>
</div>
<br>

<!-- PERSONALITY -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="alignment.webp" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">What are you like</h5>
    <p>personality is divided into 4 sections. alignment(are you good or evil), Ideals(what are your morals and beliefs), Bonds(friends, familly, enemies, who are you associated or who wuold you be associated with), flaws(What are you afraid of, what are you bad at, what is your kryptonite) </p>

  </div>
</div>
<br>


</div>
<%- include("templates/footer") %> 