<%- include("templates/header") %> 
<div class="container">
<ul>
  <li><a href="https://dnd5e.wikidot.com/artificer">Artificer</a></li>
  <li><a href="https://dnd5e.wikidot.com/barbarian">Barbarian</a></li>
  <li><a href="https://dnd5e.wikidot.com/bard">Bard</a></li>
  <li><a href="https://dnd5e.wikidot.com/cleric">Cleric</a></li>
  <li><a href="https://dnd5e.wikidot.com/druid">Druid</a></li>
  <li><a href="https://dnd5e.wikidot.com/fighter">Fighter</a></li>
  <li><a href="https://dnd5e.wikidot.com/monk">Monk</a></li>
  <li><a href="https://dnd5e.wikidot.com/paladin">Paladin</a></li>
  <li><a href="https://dnd5e.wikidot.com/ranger">Ranger</a></li>
  <li><a href="https://dnd5e.wikidot.com/rogue">Rogue</a></li>
  <li><a href="https://dnd5e.wikidot.com/sorcerer">Sorcerer</a></li>
  <li><a href="https://dnd5e.wikidot.com/warlock">Warlock</a></li>
  <li><a href="https://dnd5e.wikidot.com/wizard">Wizard</a></li>
</ul>
</div>
<%- include("templates/footer") %> 