<%- include("templates/header") %> 

<div class="container">

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">White pantheon</h5>
    <p>The deities who govern all that is good in the world</p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Black pantheon</h5>
    <p>The deities who govern all that is evil in the world</p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Green pantheon</h5>
    <p>The deities who govern all that is Natural in the world. worshiped since the first sentient lifeforms thought </p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Grey pantheon</h5>
    <p>The deities who govern all that is neither good nor evil in the world</p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Blue pantheon</h5>
    <p>The deities who govern as patrons of different species</p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Dragons</h5>
    <p>While not gods, they are worshiped like them. Dragons surround themselves with like minded people, building great libaries, empires. As there flock of people grow, so do they. </p>
    <a href="/white" class="stretched-link"></a>
  </div>
  
</div>
<br>
</div>
<%- include("templates/footer") %> 
