<%- include("templates/header") %> 
    <div class = "container">
      <img src="world.png" class="img-fluid" alt="Responsive image">

      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Who art thou</h1>
          <p class="lead">Create your character</p>
       <br>
       <br>
       <br>
      </div>


      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0" style="color:red;" >Red</h5>
          <p>The Spine of the world. A cold mountainous region populated mostly by humans and dwarves. 
            the land is scatterd with ancient ruins and temples of old gods and civilizations. people who are born here often do well in the cold
            and often have ancestry in one of these ancient civilizations. the lands main threat aside from the cold are the jotunn, ravenous giants, and dragons who have loss there sense of self. 
          </p>
        </div>


        <div class="row g-0 bg-light position-relative">

          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0" style="color:cyan;" >Cyan</h5>
            <p>The sword coast. A warm coastal region populated mostly by humans. A region ripe with treasure and adventure, it has spawned countless heros. 
              The area is a trade hub, and although humans are the primary species, it isnt uncommon to find people from all sorts of walks of life. With humans however, comes there curriosity and ambition. the area is rife with the arcane, the good and the world endingly horrible. legends tell of 
              draco liches, demons and old gods, hidden away and sealed by the civilizations of old. 
            </p>
          </div>

          
      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0" style="color:yellow;" >yellow</h5>
          <p>the great central plains and the dessarin valley. populated by humans and halflings. the area is a breadbasket, and the people are known for there hospitality and there love of food. 
            the area is a melting pot of cultures and people, and is known for its festivals and celebrations. the area is also known for its great libraries and universities, and is a hub for knowledge and learning.
            This land would perfect, if not for the disaster at evermoor. The disaster was massive magical explosion caused horribly mutated creatures to roam these lands.
          </p>
        </div>


        
      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0" style="color:darkgreen;" >darkgreen</h5>
          <p>
            The Silver Marshes. Rich with both Silver, Mercury and orcs, many mercenaries and adventurers come here to earn great riches, some even come to "take revenge" on the orcs who pillage the nearby regions.
            although the land is fertile, it is equally toxic, full of lead and mercury. the orcs who live here are hardy and strong, and are known for there great warriors and shamans capable of survining this trecherous landscape.
          </p>
        </div>

        <div class="row g-0 bg-light position-relative">

          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0" style="color:green;" >green</h5>
            <p>
             The high forest is home to the elves. the elves are a proud and ancient people, who have lived in the high forest for centuries. the elves are known for there great archers and there great magic. the elves are also known for there great cities, which are built in the trees and are hidden from the world. the elves are also known for there great libraries and there great knowledge of the world.
             the forest surrounds the star mountains, a trecherous alp that looks as if the land itself was pulled towards the heavens. it is said all life originates from this mountain
            </p>
          </div>

          <div class="row g-0 bg-light position-relative">

            <div class="col-md-6 p-4 ps-md-0">
              <h5 class="mt-0" style="color:darkred;" >darkred</h5>
              <p>
                the deadstone clefts are the home of the dragonborn. the deadstone clefts are also 
                a well known religous site, hosting shrines to the patron god of dragons tiamat. 
                with some of the most difficult terrain in the world to navigate, most people here travel
                by glider on the intense magical winds that come from the breaths of tiamat, or surf on stones
                to travel the caverns. 
           </p> 
            </div>
    
            <div class="row g-0 bg-light position-relative">

              <div class="col-md-6 p-4 ps-md-0">
                <h5 class="mt-0" style="color:blue;" >blue</h5>
                <p>
                High moor is a land of beasts. Manticores and griffons fill the sky over the lush green hills. the area is mainly
                populated by beast folk, although mercenaries from all over travel here to hunt the monsters
                 for fame and glory.</p>  
              </div>
    
          </div>
    

<%- include("templates/footer") %> 
