<%- include("templates/header") %> 
<div class="container">
  <p>Orcs trace their creation to the one-eyed god Gruumsh, an unstoppable warrior and powerful leader. The divine qualities of Gruumsh resonate within orcs, granting them a reflection of his toughness and tenacity that can’t be matched, and the god equipped his children to be able to live above or below ground.

    On some worlds, such as Eberron, orcs were among the first defenders of the natural order from the encroachments of Fiends and other extraplanar threats. Gruumsh’s blessings have made orcs tireless guardians and mighty allies wherever they are found, even when they turn their devotion to other gods.</p>
  <br>
Age. Orcs reach adulthood at age 12 and live up to 50 years.<br>
Alignment. Orcs are vicious raiders, who believe that the world should be theirs. They also respect strength above all else and believe the strong must bully the weak to ensure that weakness does not spread like a disease. They are usually chaotic evil.<br>
Size. Orcs are usually over 6 feet tall and weigh between 230 and 280 pounds. Your size is Medium.<br>
Speed. Your base walking speed is 30 feet.<br>
Darkvision. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.<br>
Primal Intuition. You have proficiency in two of the following skills of your choice: Animal Handling, Insight, Intimidation, Medicine, Nature, Perception, and Survival.<br>
Powerful Build. You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift.<br>
Languages. You can speak, read, and write Common and Orc. <br>


<h2> Subraces</h2>
Full Orc <br>
Aggressive. As a bonus action, you can move up to your speed toward an enemy of your choice that you can see or hear. You must end this move closer to the enemy than you started.<br>

<br>
<br>
Half orc <br>
Relentless Endurance. When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can't use this feature again until you finish a long rest.
</div>
<%- include("templates/footer") %> 
