<%- include("templates/header") %> 
    
<div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">pantheon of evil gods</h1>
    
     <br>
     <br>
     <br>
    </div>

    <div class="row g-0 bg-light position-relative">

      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0"  >Tiamat</h5>
        <p>
      God of evil dragons. Tiamat is the god of greed, of power, of the dragon. She is the mother of all evil dragons, and the creator of the chromatic dragons. Tiamat teaches her followers 
      to be heartless, that survival and power only come to those who can be objective. While evil, Tiamat does do good coincedently, as patron of dragons, her followers often defend dragons who in turn defend the land and its people.
      Tiamat is feared by all other gods as potentially the most powerful of them all.
          <br>
          Annam is repsonsible for the domains of order and war. 
          <br>
          Her holy symbol is a five headed dragon.    
        </p>
      </div>




      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0"  >Derais</h5>
          <p>
            God of contracts and oaths. Derais is a powerful devil, and responsible for enforcing all paladin oaths and devil contracts, escpecially the fine print. Every contract, every promise and every wedding is watched over by Derais.
            <br>
            Annam is responsible for the domains of the tempest, the earth and strength
            <br>
            His symbol is a fist crushing a mountain.
      
          </p>
        </div>

        <div class="row g-0 bg-light position-relative">

          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0"  >Uru'Kzat</h5>
            <p>
             Primordial god of insanity and chaos. Uru'Kzat is the god of madness, of chaos, of the unknown. He teaches his followers to embrace the chaos, to let the madness take them. Uru'Kzat is often worshiped by the insane, the mad, the lost.
              <br>
              Uru'Kzat is responsible for the domains of the tempest.
              <br>
              His symbol is a swirling vortex of colors.
        
            </p>
          </div>

  </div>
  <br>

<%- include("templates/footer") %> 
