<%- include("templates/header") %> 
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The blue pantheon</h1>
          <p class="lead">The patron gods of different species</p>
       <br>
       <br>
       <br>
      </div>
      



      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0"  >Raketh</h5>
          <p>
            Patron god of the dwarves and the forge. Raketh is responsible for the domain of fire, metal, and stone. often mostly worshiped by the very traditional dwarves, he teaches his followers that the 
            bounty underneath the earths crust belongs to them. He taught the dwarves to forge, to mine, to build. He emphasizes grandure and leaving a legacy in stone that will outlive timeitself.
            <br>
            Raketh is the god of the forge, and knowledge
            <br>
            His holy sybol is a hammer crossed with both a pickaxe and chisel
      
          </p>
        </div>
      </div>

      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0"  >Eldar</h5>
          <p>
            Patron god of the elves and the forest. Eldar is responsible for the domain preservation and time. Eldar teaches his followers to be passive, growth is not needed in the face of adversity only patience for the right moment.
            Followers of Eldar often work in preservation acts to prevent historic forest from being expanded into.
            <br>
           Eldar is responsible for the domains of Nature and life.
            <br>
            His holy symbol is a an empty hourglass.
      
          </p>
        </div>
        </div>
      

        <div class="row g-0 bg-light position-relative">

          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0"  >Annam</h5>
            <p>
              God of the giants and the mountains. Annam is responsible for the domain of the earth and the sky. Annam teaches his followers to be strong, to be unyielding, to be the mountain. He teaches that the sky is the limit and that the earth is the foundation.
              Annam and his followers despise dragons, steming from dragons protecting civilizations rather than letting them grow and be stronger. Annam at one point was at war with the dragons, seeking to "libreate" the world from their tyranny.
              <br>
              Annam is responsible for the domains of the tempest, the earth and strength
              <br>
              His symbol is a fist crushing a mountain.
        
            </p>
          </div>




          


          </div>
        


          <div class="row g-0 bg-light position-relative">

            <div class="col-md-6 p-4 ps-md-0">
              <h5 class="mt-0"  >Grumsh One eye</h5>
              <p>
                Patron God of the green skins(Orcs, Ogres, goblins, etc). Grumsh is responsible for the domain of chaos and survival.
                Grumsh Has a notorious hatred of the other gods. Some say this hatred stems from there refusal to accept him as a god, others say it is there refusal to accept Orcs as civlized, regardless Grumsh was forced to carve out land for the orcs to live creating the badlands
                and punched holes in mountains to create caves to shelter his people. Grumsh teaches his followers to 
                take land and pillage what they can find, to survive even in the world that wants nothing to do with them, BUT only take what is nessecary, books, gold, and magic tomes are rarely taken, although somtimes they can be eaten.
                <br>
                Grumsh is responsible for the domains of war, chaos and survival
                <br>
                His holy symbol is a red eye with a black pupil.
          
              </p>
            </div>
          
      
    </div>

<%- include("templates/footer") %> 
