<%- include("templates/header") %> 
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The green pantheon</h1>
    <p class="lead">The old gods of nature</p>
 <br>
 <br>
 <br>
</div>


<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"  >To</h5>
    <p>
      To is the god of the seasons. One of the oldests of the gods, To is the god of the seasons and the cycle of life. She teaches her followers to respect the land and the creatures that inhabit it, to live 
      with the seasons as nature intended. To has a strong distain for massive cities, but a deep fondness for small villages and towns.
      <br>
      To governs the domain of Nature
      <br>
      Her holy symbol is a tree depecting all four seasons on its leaves.

    </p>
  </div>
  </div>  
  <div class="row g-0 bg-light position-relative">

    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0"  >Falgrave</h5>
      <p>
    Falgrave is the god of the dead, rot and the hunt. He teaches his followers to respect the dead and to hunt only what they need. Falgrave is a god of balance, believing that all good things must come to an end inorder to start a new.
    Falgrave often takes the form of a large rotting stag with fungus growing on its skin. Falgrave disspises undead, believing that they are an abomination of the natural order.
        <br>
        Falgrave governs the domain of Nature, Death and grave
        <br>
        His holy symbol is stag with mushrooms growing on it.
  
      </p>
    </div>
  

  

<%- include("templates/footer") %> 
