<%- include("templates/header") %> 
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The Grey pantheon</h1>
          <p class="lead">The netural gods</p>
       <br>
       <br>
       <br>
      </div>
      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0"  >Magus</h5>
          <p>
           She is the god of magic and all things arcane. She resides among people, possesing powerful mages regularly to give inspiration and guidance while also learning from them. Magus believes in the freedom of all information, that everyone
           has the right to know anything so long as they earn it. this is reflected in her followers who are often scholars and mages.

            <br>
           She is responsible for the domains of arcana and knowledge
            <br>
            Her holy symbol is a book with a wand crossed over it.
      
          </p>
        </div>




      </div>


      <div class="row g-0 bg-light position-relative">

        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0"  >Soketh</h5>
          <p>
            God of beggers and thieves. Soketh is the god of the streets, the god of the people. He teaches his followers to be cunning, to be quick, to be the shadow. Soketh is often worshiped by the poor and the downtrodden, those who have nothing to lose but the need and ambition to take.
            Followers of Soketh believe that theivery is alright, only those who are irresponsible with their wealth have it taken from them.
            <br>
            Soketh is responsible for the domains of trickery and life.
            <br>
            His symbol is a beggers cup.
      
          </p>
        </div>

    </div>

<%- include("templates/footer") %> 
