<%- include("templates/header") %> 
<div class="container">  
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The white pantheon</h1>
    <p class="lead">The gods of light and all things good.</p>
 <br>
 <br>
 <br>
</div>


<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"  >Wence</h5>
    <p>
      The god of light, Order, and the morning sun. Father daybreak, Beggings Charriot. All things that shine are his domain. He is the god of all things good and pure. 
      He is the god of the dawn and the bringer of light, known most for his everlasting 
      rivalry with the god of the night and dreams Phel. Much like how the Sun rises 
      each day, Wence believes that consistency and order are the pillars of life.
      <br>
      Wence is responsible for the domain of Light and Order
      <br>
      His holy symbol is a disk, often yellow, with a weight scale on it

      <br>
      <br>
      he takes the appearence of a man whos skin burns like the sun with 3 eyes and 7 wings that adorn his head.

    </p>
  </div>


  <div class="row g-0 bg-light position-relative">

    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0"  >Phel</h5>
      <p>
        The god of the night, the moon, Change, and dreams. The Dreaming brother, the World to be, Master of the moon.
         He is the god of the night and the bringer of rest, known most for his everlasting rivalry with  his brother the god of the day and light Wence.
         Much like how the moon changes with each day, Phel believes that change should be embraced and celebrated.
      <br>
      Phel is responsible for the domain of Twilight and life
      <br>
      Phel's holy symbol is a crescent moon, often silver, with a flower on it
        <br>
        Phel takes the form of an old man with a long grey beard and the body of a snow white bunny.  
      </p>
    </div>


    <div class="row g-0 bg-light position-relative">

      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0"  >Kathome</h5>
        <p>
          The machine god of war and love. Created by the dwarven god of the forge Raketh, 
          Kathome is a machine designed for heartless war, but seeks to learn the value
           in human emotion. Kathome believes that after everyconflict, a relationship can be 
           repaired and grow stronger.
          <br>
          Kathome governs the domain of War
          <br>
          Kathome's holy symbol is a gear with a heart and sword in the center
          
          <br>
          Kathome takes the form of a massive steal and brass orb with a single eye in the center.
        </p>
      </div>

      </div>
<%- include("templates/footer") %> 
