<%- include("templates/header") %> 


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Species</h1>
      <p class="lead">Every person is capable of different things inately, some breath fire while other are stout. Different species allow for different unique abilites. 
        Species often include a recomended increaste to <a href="/stats"> stats</a>, however for us you will be able to choose a +2 and a +1 to any
      </p>
   <br>
   <br>
   <br>
  </div>
</div>

<div class="container">
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="human.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Humans</h5>
   
        </p>
        <a href="/human" class="btn btn-primary">More</a>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="elves.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Elves</h5>
 
        <a href="/elves" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="dwarf.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dwarves</h5>
        <p class="card-text">Rock and stone</p>
        <a href="/dwarf" class="btn btn-primary">More</a>
      </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="orc.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Orc</h5>
          <a href="/orc" class="btn btn-primary">More</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="dragonborn.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dragon born</h5>
          <a href="/dragonborn" class="btn btn-primary">More</a>
        </div>
      </div>



  </div>
</div>
<div class="container">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="giantkin.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Giant kin</h5>
       
            </p>
            <a href="/giantkin" class="btn btn-primary">More</a>
        </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="tiefling.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tiefling</h5>
     
            <a href="/tiefling" class="btn btn-primary">More</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="halfling.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Halfling</h5>
            <p class="card-text">Rock and stone</p>
            <a href="/halfling" class="btn btn-primary">More</a>
          </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="goblin.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goblin</h5>
              <a href="/goblin" class="btn btn-primary">More</a>
            </div>
          </div>
    
          <div class="card">
            <img class="card-img-top" src="beastfolk.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">beast folk</h5>
              <a href="/beastfolk" class="btn btn-primary">More</a>
            </div>
          </div>
    
    
    
      </div>
    </div>
    


<%- include("templates/footer") %> 