<%- include("templates/header") %> 
 
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tomato</h1>
      <p class="lead">DND stats explained using a tomato</p>
   <br>
   <br>
   <br>


  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="strength.webp" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Strength</h5>
      <p>the ability to throw a tomato</p>

    </div>

    <div class="row g-0 bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="grab.webp" class="w-100" alt="...">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Dexterity</h5>
        <p>the ability to catch a tomato</p>
  
      </div>
  
      <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="constit.webp" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">constitution</h5>
          <p>the ability to eat a rotten tomato, and be okay</p>
    
        </div>

        <div class="row g-0 bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="int.webp" class="w-100" alt="...">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">intellegence </h5>
            <p>the ability to know that a tomato is a fruit</p>
      
          </div>

          <div class="row g-0 bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="wisd.webp" class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
              <h5 class="mt-0">wisdom</h5>
              <p>the ability to know that a tomato does not go in a fruit salad</p>
        
            </div>

            <div class="row g-0 bg-light position-relative">
              <div class="col-md-6 mb-md-0 p-md-4">
                <img src="cha.webp" class="w-100" alt="...">
              </div>
              <div class="col-md-6 p-4 ps-md-0">
                <h5 class="mt-0">Charisma</h5>
                <p>the ability to sell a tomato based fruit salad</p>
          
              </div>

<%- include("templates/footer") %> 