<%- include("templates/header") %> 
    

<div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Our setting</h1>
  
     <br>
     <br>
     <br>
    </div>
    <!-- SPECIES -->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="species.png" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">The Gods of the land</h5>
        
      <a href="/divinity" class="stretched-link"></a>
    </div>-
    
  </div>
  <br>
  <!-- CLASSSES -->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="world.png" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">The lore of the area</h5>
 
      <a href="/map" class="stretched-link"></a>
    </div>
  </div>
  <br>

  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="grab.webp" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Stats</h5>
        
      <a href="/stats" class="stretched-link"></a>
    </div>-
    
  </div>
  <br>
<%- include("templates/footer") %> 
